# Package Management
package-lock.json
pnpm-lock.yaml
node_modules

# TypeScript & Build Files
tsconfig.json
src
tests
.eslintignore
eslint.config.mjs

# Documentation & Config
assets
.gitignore
.gitattributes
CHANGELOGS.md
.github

# Tests
tests